/* BASICS
---------------------------------------------------------------------*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font: 400 14px "open-sans", "helvetica nueu", helvetica, arial, sans-serif;
  line-height: 1.5;
  color: #e1e1e1;
  background: #0e1112;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 46px 0 0;
}
h1 {
  margin: 0 0 1.5rem;
  font-family: Adelle, Constantia, "Lucida Bright", Georgia, serif;
  font-size: 1.65rem;
  font-weight: normal;
  color: #8e999d;
}
h2 {
  margin: 0 0 1.5rem;
  font-size: 1.28rem;
  font-weight: normal;
  color: #8e999d;
}
h3 {
  margin: 0 0 1.5rem;
  font-size: 1.22rem;
  font-weight: normal;
  color: #8e999d;
}
p {
  margin: 0 0 1.5rem;
}
ul {
  margin: 0 0 1.5rem;
  list-style-type: square;
}
li {
  margin: 0;
}
pre {
  position: relative;
  margin: 0 0 1.5rem;
  border-radius: 3px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  background: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.5);
}
a:link, a:visited {
  color: #6699cc;
  text-decoration: none;
}
button {
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  margin: 10px 0;
  font-size: 1rem;
  color: #e1e1e1;
  background: #6699cc;
}
button:hover {
  cursor: pointer;
}
hr {
  border: 1px solid #272b2d;
  margin-bottom: 30px;
}
iframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  background: #222526;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(127, 127, 127, 0.3);
}
*::-webkit-scrollbar-corner {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#synchSessionVariables {
  display: none;
}
/* MASTHEAD
---------------------------------------------------------------------*/
#masthead {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 800px;
  margin: 0;
  border-bottom: 1px solid #0e1112;
  padding: 6px 0;
  background: -webkit-linear-gradient(#0e1112, #272b2d);
  background: linear-gradient(#0e1112, #272b2d);
}
#masthead::before, #masthead::after {
  content: " ";
  display: table;
}
#masthead::after {
  clear: both;
}
/* Logo */
#logo {
  float: left;
  margin: 0;
  padding: 0px 25px 0;
  font-weight: bold;
  font-size: 1.65rem;
  font-family: Adelle, Constantia, "Lucida Bright", Georgia, serif;
  color: #8e999d;
  text-shadow: 0px -1px 0px #000000;
}
#logo span {
  font-style: italic;
  color: #454c4e;
}
/* Nav */
#main-menu {
  position: relative;
  float: left;
  margin: 8px 0 0;
  white-space: nowrap;
}
#main-menu label {
  display: inline-block;
  padding: 0 6px;
  color: #646f73;
  text-decoration: none;
  text-shadow: 0px -1px 0px #000000;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* Menu Indicator */
#menu-indicator {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-color: #0e1112 transparent;
  border-style: solid;
  border-width: 0px 12px 12px 12px;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

}
#menu1:checked ~ #masthead label:nth-child(1) {
  color: #6699cc;
}
#menu1:checked ~ #masthead #menu-indicator {
  left: 20px;
}
#menu2:checked ~ #masthead label:nth-child(2) {
  color: #6699cc;
}
#menu2:checked ~ #masthead #menu-indicator {
  left: 102px;
}
#menu3:checked ~ #masthead label:nth-child(3) {
  color: #6699cc;
}
#menu3:checked ~ #masthead #menu-indicator {
  left: 214px;
}
#menu4:checked ~ #masthead label:nth-child(4) {
  color: #6699cc;
}
#menu4:checked ~ #masthead #menu-indicator {
  left: 332px;
}
#menu5:checked ~ #masthead label:nth-child(5) {
  color: #6699cc;
}
#menu5:checked ~ #masthead #menu-indicator {
  left: 416px;
}
#menu6:checked ~ #masthead label:nth-child(6) {
  color: #6699cc;
}
#menu6:checked ~ #masthead #menu-indicator {
  left: 478px;
}
/* Authorization */
#auth-status {
  float: right;
  margin: 5px 0 0;
  padding: 0 25px;
  color: #646f73;
  text-shadow: 0px -1px 0px #000000;
}
.auth-hide {
  display: none;
}
/* Masthead Icons*/
.masthead-icon {
  display: inline-block;
  opacity: .5;
  width: 24px;
  height: 24px;
  margin: 0 0 -6px 8px;
  border-radius: 4px;
  background: #646f73 center center no-repeat;
  background-size: 66%;
  box-shadow: inset 0 1px 0 #000000, inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.masthead-icon:focus {
  outline: none;
}
.masthead-icon:hover {
  background-color: #6699cc;
  opacity: 1;
}
#masthead-icon-facebook {
  background-image: url("../img/icons/icon-facebook.svg");
}
#masthead-icon-facebook:hover {
  background-image: url("../img/icons/icon-facebook-hover.svg");
}
#masthead-icon-twitter {
  background-image: url("../img/icons/icon-twitter.svg");
}
#masthead-icon-twitter:hover {
  background-image: url("../img/icons/icon-twitter-hover.svg");
}
#masthead-icon-github {
  background-image: url("../img/icons/icon-github.svg");
}
#masthead-icon-github:hover {
  background-image: url("../img/icons/icon-github-hover.svg");
}
#masthead-icon-settings {
  background-image: url("../img/icons/icon-settings.svg");
}
#masthead-icon-settings:hover {
  background-image: url("../img/icons/icon-settings-hover.svg");
}
#masthead-icon-logout {
  background-image: url("../img/icons/icon-logout.svg");
}
#masthead-icon-logout:hover {
  background-image: url("../img/icons/icon-logout-hover.svg");
}
.fb-login-button {
  display: inline-block;
}
/* SETTINGS
-------------------------------------------------------------------------*/
#settings-wrapper {
  display: none;
}
#settings {
  width: 600px;
  height: 336px;
  padding: 20px;
}
/* FORM
-------------------------------------------------------------------------*/
.form-body {
  margin: 0;
  border: none;
  border-top: 1px solid #c9cbcd;
  padding: 0 20px;
}
.form-body > legend {
  margin: 0 0 0 -5px;
  padding: 0 5px;
  font-size: 0.875rem;
  color: #888879;
}
.form-body div {
  margin: 6px 0;
}
.form-body label {
  display: block;
  padding: 6px 0 2px;
  font-size: 0.875rem;
  color: #888879;
}
.form-body input, .form-body select, .form-body textarea {
  width: 100%;
  border: 1px solid #6f7273;
  border-radius: 3px;
  padding: .4em;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2);
  font-family: "open-sans", "helvetica nueu", helvetica, arial, sans-serif;
  font-size: 1rem;
}
.form-body input[type="checkbox"], .form-body input[type="radio"] {
  width: inherit;
}
.form-body button {
  min-width: 80px;
  margin: 6px 12px 0 0;
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 1rem;
  font-size: 1rem;
  color: #e1e1e1;
  background: #a1a4a5;
}
.form-body button:hover {
  cursor: pointer;
}
.form-body .primary {
  background: #6699cc;
}
/* PAGES
---------------------------------------------------------------------*/
body > input[type="radio"] {
  display: none;
}
/* The container for the pages */
#pages {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* The wrapper used to indent. Set the width equal to the number of pages * 100 */
#page-wrapper {
  position: absolute;
  width: 600%;
  height: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

}
/* Based on the selected radio button, pull the wrapper to left */
#menu1:checked ~ #pages #page-wrapper {
  margin-left: 0;
}
#menu2:checked ~ #pages #page-wrapper {
  margin-left: -100%;
}
#menu3:checked ~ #pages #page-wrapper {
  margin-left: -200%;
}
#menu4:checked ~ #pages #page-wrapper {
  margin-left: -300%;
}
#menu5:checked ~ #pages #page-wrapper {
  margin-left: -400%;
}
#menu6:checked ~ #pages #page-wrapper {
  margin-left: -500%;
}
/* Each page. Set the width equal to 100 / number of page */
.page {
  float: left;
  width: 16.66667%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}
.page-body {
  width: 760px;
  margin: 0 auto;
}
/* PANEL
---------------------------------------------------------------------*/
.panel {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px 0;
  border: 1px solid #272b2d;
  border-radius: 7px;
  background: #1a1e1f;
}
.panel-nohead {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #272b2d;
  border-radius: 7px;
  background: #1a1e1f;
}
.panel-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #0e1112;
  border-radius: 6px 6px 0 0;
  padding: 4px 10px 0;
  color: #646f73;
  text-shadow: 0px -1px 0px #000000;
  background: -webkit-linear-gradient(#1a1e1f, #272b2d);
  background: linear-gradient(#1a1e1f, #272b2d);
}
.panel-header-primary {
  float: left;
  width: 100px;
}
.panel-header-secondary {
  float: right;
  width: 100px;
  text-align: right;
}
.panel-header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "open-sans", "helvetica nueu", helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #646f73;
}
.panel-body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  color: #e1e1e1;
}
.panel-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  border-top: 1px solid #0e1112;
  border-radius: 0 0 6px 6px;
  padding: 4px 10px 0;
  color: #646f73;
  text-shadow: 0px -1px 0px #000000;
  background: -webkit-linear-gradient(#272b2d, #1a1e1f);
  background: linear-gradient(#272b2d, #1a1e1f);
}
/* Panel Header Icons */
.panel-header-icon {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.panel-header-icon:hover {
  opacity: 1;
}
#panel-header-icon-refresh {
  background-image: url("../img/icons/icon-refresh.svg");
}
#panel-header-icon-refresh:hover {
  background-image: url("../img/icons/icon-refresh-hover.svg");
}
#panel-header-icon-new-window {
  background-image: url("../img/icons/icon-new-window.svg");
}
#panel-header-icon-new-window:hover {
  background-image: url("../img/icons/icon-new-window-hover.svg");
}
/* ACE EDITOR
---------------------------------------------------------------------*/
.ace_editor {
  font-family: "source-code-pro", Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
}
.ace_gutter {
  border-radius: 5px 0 0 5px;
}
.ace_scroller {
  border-radius: 0 5px 5px 0;
}
.snippet {
  position: relative;
  overflow-y: hidden;
  width: 100%;
}
.small {
  height: 30px;
}
.medium {
  height: 155px;
}
.large {
  height: 260px;
}
.justDoItContent {
  visibility: hidden;
}
/* TUTORIAL
---------------------------------------------------------------------*/
/* Radio buttons that set the active step */
#tutorial input[type="radio"] {
  display: none;
}
/* Instructions */
#instructions {
  float: left;
  width: 300px;
  margin-right: 10px;
}
/* Set the basic styling for the controls */
#instructions label {
  cursor: pointer;
}
/* Step Number */
#step-number {
  overflow-x: hidden;
}
/* The wrapper used to indent. Set the width equal to the number of steps * 100 */
#step-number-wrapper {
  width: 800%;
  height: 100%;
}
/* Based on the selected radio button, pull the wrapper to left */
#step1:checked ~ #instructions #step-number-wrapper {
  margin-left: 0;
}
#step2:checked ~ #instructions #step-number-wrapper {
  margin-left: -100%;
}
#step3:checked ~ #instructions #step-number-wrapper {
  margin-left: -200%;
}
#step4:checked ~ #instructions #step-number-wrapper {
  margin-left: -300%;
}
#step5:checked ~ #instructions #step-number-wrapper {
  margin-left: -400%;
}
#step6:checked ~ #instructions #step-number-wrapper {
  margin-left: -500%;
}
#step7:checked ~ #instructions #step-number-wrapper {
  margin-left: -600%;
}
#step8:checked ~ #instructions #step-number-wrapper {
  margin-left: -700%;
}
/* animate the step number transition */
#step-number-wrapper {
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

}
/* Each step. Set the width equal to 100 / number of steps */
#step-number h1 {
  float: left;
  width: 12.5%;
}
/* Next/previous arrows */
#next-prev {
  height: 30px;
  margin-top: -30px;
}
#next-prev label {
  display: none;
  width: 80px;
  height: 30px;
  opacity: .6;
}
/* animate the next-prev hover */
#next-prev label:hover {
  opacity: .99;
}
#next-prev label {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* find the label for the previous step, make it visible, and move it into positions */
#step1:checked ~ #instructions #next-prev label:nth-child(8),
#step2:checked ~ #instructions #next-prev label:nth-child(1),
#step3:checked ~ #instructions #next-prev label:nth-child(2),
#step4:checked ~ #instructions #next-prev label:nth-child(3),
#step5:checked ~ #instructions #next-prev label:nth-child(4),
#step6:checked ~ #instructions #next-prev label:nth-child(5),
#step7:checked ~ #instructions #next-prev label:nth-child(6),
#step8:checked ~ #instructions #next-prev label:nth-child(7) {
  background: url('../img/step-back.png') no-repeat 15% 45%;
  float: left;
  display: block;
}
/* find the label for the next step, make it visible, and move it into positions */
#step1:checked ~ #instructions #next-prev label:nth-child(2),
#step2:checked ~ #instructions #next-prev label:nth-child(3),
#step3:checked ~ #instructions #next-prev label:nth-child(4),
#step4:checked ~ #instructions #next-prev label:nth-child(5),
#step5:checked ~ #instructions #next-prev label:nth-child(6),
#step6:checked ~ #instructions #next-prev label:nth-child(7),
#step7:checked ~ #instructions #next-prev label:nth-child(8),
#step8:checked ~ #instructions #next-prev label:nth-child(1) {
  background: url('../img/step-forward.png') no-repeat 85% 45%;
  float: right;
  display: block;
}
/* The container for the steps */
#steps {
  overflow-x: hidden;
}
/* The wrapper used to indent. Set the width equal to the number of steps * 100 */
#step-wrapper {
  width: 800%;
  height: 100%;
}
/* Based on the selected radio button, pull the wrapper to left */
#step1:checked ~ #instructions #step-wrapper {
  margin-left: 0;
}
#step2:checked ~ #instructions #step-wrapper {
  margin-left: -100%;
}
#step3:checked ~ #instructions #step-wrapper {
  margin-left: -200%;
}
#step4:checked ~ #instructions #step-wrapper {
  margin-left: -300%;
}
#step5:checked ~ #instructions #step-wrapper {
  margin-left: -400%;
}
#step6:checked ~ #instructions #step-wrapper {
  margin-left: -500%;
}
#step7:checked ~ #instructions #step-wrapper {
  margin-left: -600%;
}
#step8:checked ~ #instructions #step-wrapper {
  margin-left: -700%;
}
/* animate the step transition */
#step-wrapper {
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

}
/* Each step. Set the width equal to 100 / number of steps */
#steps article {
  float: left;
  width: 12.5%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}
/* Styling for the markup inside each step */
#steps article h2 {
  margin: 0 0 10px;
  padding: 0;
  font-family: Adelle, Constantia, "Lucida Bright", Georgia, serif;
  font-weight: bold;
  font-size: 14px;
  color: #e1e1e1;
}
#lede {
  font-size: 1.28rem;
}
#steps article .action {
  margin-top: -20px;
}
#steps article .action a {
  color: #6699cc;
  cursor: pointer;
}
#steps article label {
  color: #6699cc;
  cursor: pointer;
}
#steps article .continue {
  margin: 20px 0;
}
#steps article .primary {
  border-radius: 3px;
  padding: 5px 15px;
  color: #e1e1e1;
  background: #6699cc;
}
/* Page indicator discs */
#page-indicator {
  position: relative;
  height: 30px;
  margin: 0 0 0;
  border-top: 1px solid #0e1112;
  border-radius: 0 0 7px 7px;
  background: -webkit-linear-gradient(#272b2d, #1a1e1f);
  background: linear-gradient(#272b2d, #1a1e1f);
  text-align: center;
  cursor: default;
}
#page-indicator:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  width: 100%;
  height: 0px;
  border-top: 1px solid #2a2d2e;
}
/* turn the labels into discs */
#page-indicator label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 5px;
  background: #0e1112;
}
/* animate the page indicator */
#page-indicator label:hover {
  background: #6699cc;
  border-color: #6699cc;
}
#page-indicator label {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* find the label for the current step and make it visible */
#step1:checked ~ #instructions #page-indicator label:nth-child(1),
#step2:checked ~ #instructions #page-indicator label:nth-child(2),
#step3:checked ~ #instructions #page-indicator label:nth-child(3),
#step4:checked ~ #instructions #page-indicator label:nth-child(4),
#step5:checked ~ #instructions #page-indicator label:nth-child(5),
#step6:checked ~ #instructions #page-indicator label:nth-child(6),
#step7:checked ~ #instructions #page-indicator label:nth-child(7),
#step8:checked ~ #instructions #page-indicator label:nth-child(8) {
  background: #6699cc;
  border-color: #6699cc;
}
/* Workspace */
#workspace {
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* The wrapper used to indent. Set the width equal to the number of workspaces * 100 */
#workspace-wrapper {
  position: absolute;
  width: 200%;
  height: 100%;
}
/* Based on the selected radio button, pull the wrapper to left */
#step1:checked ~ #workspace #workspace-wrapper {
  margin-left: 0%;
}
#step2:checked ~ #workspace #workspace-wrapper {
  margin-left: 0%;
}
#step3:checked ~ #workspace #workspace-wrapper {
  margin-left: -100%;
}
#step4:checked ~ #workspace #workspace-wrapper {
  margin-left: 0%;
}
#step5:checked ~ #workspace #workspace-wrapper {
  margin-left: 0%;
}
#step6:checked ~ #workspace #workspace-wrapper {
  margin-left: -100%;
}
#step7:checked ~ #workspace #workspace-wrapper {
  margin-left: 0%;
}
#step8:checked ~ #workspace #workspace-wrapper {
  margin-left: 0%;
}
/* animate the workspace transition */
#workspace-wrapper {
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  /* easeInOutQuart */

}
/* Front-end workspace*/
#front-end {
  float: left;
  width: 50%;
  height: 100%;
}
/* Needed to get the space between the panels */
#markup-wrapper {
  height: 50%;
  padding-bottom: 5px;
}
/* Markup */
#markup {
  padding-bottom: 0;
}
/* Editor */
#editor {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Needed to get the space between the panels */
#view-wrapper {
  height: 50%;
  padding-top: 5px;
}
/* View */
#view {
  padding-bottom: 0;
}
#preview {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 0 7px 7px;
}
/* Admin */
#admin {
  float: left;
  width: 50%;
  height: 100%;
  padding-bottom: 0;
}
/* HOW IT WORKS
---------------------------------------------------------------------*/
#howitworks img {
  max-width: 100%;
}
/* GETTING STARTED
---------------------------------------------------------------------*/
#tryitout {
  height: 260px;
}
#createanaccount {
  display: inline-block;
  width: 180px;
  height: 320px;
  margin-right: 8px;
  text-align: center;
  vertical-align: top;
}
#virtualappliance {
  display: inline-block;
  width: 180px;
  height: 320px;
  margin-right: 8px;
  text-align: center;
  vertical-align: top;
}
#selfinstallablebundle {
  display: inline-block;
  width: 180px;
  height: 320px;
  margin-right: 8px;
  text-align: center;
  vertical-align: top;
}
#amazonwebservices {
  display: inline-block;
  width: 180px;
  height: 320px;
  text-align: center;
  vertical-align: top;
}
#createanaccount button,
#virtualappliance button,
#amazonwebservices button,
#selfinstallablebundle button {
  width: 100%;
  margin-top: 20px;
}
#createanaccount img,
#virtualappliance img,
#amazonwebservices img,
#selfinstallablebundle img {
  height: 68px;
}
.cta {
  height: 44px;
  margin-bottom: 15px;
  border: solid 2px #537ba0;
  border-radius: 4px;
  -moz-box-shadow: 0px 0px 4px 2px rgba(100, 154, 204, 0.33);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(100, 154, 204, 0.33);
  box-shadow: 0px 0px 4px 2px rgba(100, 154, 204, 0.33);
  background: -webkit-linear-gradient(#2d2d2d, #0d1012);
  background: linear-gradient(#2d2d2d, #0d1012);
  padding: 10px;
}
.hosted-script {
  color: #6699cc;
  float: left;
  height: 100%;
}
.or {
  float: right;
  margin-right: 75px;
  opacity: .5;
}
.local-script {
  margin: -3px;
  float: right;
  width: 190px;
}
.title {
  font-weight: bold;
}
.size {
  color: #3B5E7D;
}
.sample-app.header {
  height: 220px;
}
.sample-app {
  height: 250px;
}
.sample-app * {
  text-decoration: none;
}
.sample-app p {
  color: #e1e1e1;
}
.sample-app img {
  float: right;
  width: 320px;
  margin: 0 10px 0 30px;
}
/* DOCUMENTATION
---------------------------------------------------------------------*/
/* ABOUT
---------------------------------------------------------------------*/
/* ADMINCONSOLE
---------------------------------------------------------------------*/
#adminconsolepanel {
  margin: 0;
  padding: 0;
}
