<!DOCTYPE html> 
<html> 
  <head> 
    <style>

#icons{
  position: relative;
  float:left;
}    
    
.icon {
  width: 100px;
  height: 100px;
}

.iconWrapper{
  padding: 2px;
}

div{
  position: relative;
  float:left;
}

form {
  margin-left: 100px;
}
    
    </style>
    <script type="text/javascript" src="http://<%=CJS_WEB_URL%>/customLink/115723408282005601229.js"></script> 
  </head>
  <body>
    <input type="search" id="search" data-cjs="search:icon">
    <div data-cjs="securityType:facebook;security:contacts.userId"></div>
    <form data-bind="submit:icon.create">
        <input id="file" type="file" placeholder="Upload file..." data-bind="value:icon.location"> <br>
        <input id="tags" data-bind="value:icon.tags"> <br>
        <input type="submit" value="Upload">
    </form>
    
    <hr>
    
    <!--<input type="search" data-bind="search:icon, searchResults:#icons">-->
    
    <div id="icons" data-bind="foreach:icon.read">
      <div class="iconWrapper">
        <img class="icon" data-bind="attr:{src:location(),id:id()}">
        <span data-bind="value:tags"></span>
      </div>
    </div>

  </body>
</html>
